<div class="container">
  <div class="row">
    <div class="col-xs-12">
<!--      <ol>-->
<!--        <li>Create 2 new COmponents</li>-->
<!--        <li>Output them beneath each other in the AppCompoment</li>-->
<!--        <li>Output a warning or success</li>-->
<!--        <li>Style the Component</li>-->
<!--      </ol>-->
<!--      <p>User external or internal templates an styles</p>-->
<!--      <p>Feel free to create more components</p>-->
<!--      <hr>-->
<!--      <app-warning-alert></app-warning-alert>-->
<!--      <app-success-alert></app-success-alert>-->

      <app-servers></app-servers>
      <hr>
      <button
        class="btn btn-primary"
        (click) = "onToggleDisplay()"
      >Display detail</button>
      <div *ngIf="display">
        <p
          *ngFor="let l of log; let i = index"
          [ngStyle]="{backgroundColor: i >=5 ? 'blue' : 'transparent'}"
          [ngClass]="{white: i > 4}"
        >Secrete password = {{l}}</p>
      </div>
      <div
        *ngFor = "let l of log"
      >{{l}}</div>
    </div>
  </div>
  <!-- comment here -->
  <!-- this is another comment -->
  <!-- My third comment -->
  
  <div class="row">
    <div class="col/xs/12">
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br>
      <ul *ngFor="let server of servers; let i = index">
        <li (click)="onRemoveServer(i)">{{server}}</li>
      </ul>
    </div>
  </div>
</div>
